<div class="d-flex mt-5 m-3">
  <h4 class="">Instituciones no activas</h4>

  <div class="ms-auto">
    <button
      class="btn btn-outline-primary text-center"
      routerLink="/dashboard/agency"
    >
      <fa-icon class="fa-xl m-1" [icon]="faCirclePlus"></fa-icon>
      Nueva institución
    </button>
  </div>
</div>
<div *ngIf="!existAgencies" class="d-flex mt-5 m-3">
  <p class="">No hay ninguna agencia no activa en este momento</p>
</div>

<div *ngIf="existAgencies" class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th>Creado por</th>
        <th>Fecha</th>
        <th>Actualizado por</th>
        <th>Fecha</th>
        <th class="text-nowrap">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let agency of nonActiveAgencies; index as i">
        <td>{{ agency.title }}</td>
        <td *ngIf="agency.isActive">
          <span class="badge bg-true">Activo</span>
        </td>
        <td *ngIf="!agency.isActive">
          <span class="badge bg-false">No activo</span>
        </td>
        <td>{{ creators[i] }}</td>
        <td>{{ agency.createdDate | date : "d/M/y" }}</td>
        <td>{{ updaters[i] }}</td>
        <td *ngIf="updaters[i] == null"></td>
        <td>{{ agency.updatedDate | date : "d/M/y" }}</td>
        <td class="d-flex justify-content-around">
          <a
            routerLink="/dashboard/agency/{{ agency.id }}"
            data-toggle="tooltip"
          >
            <fa-icon class="fa fa-update" [icon]="faPen"></fa-icon>
          </a>
          <a
            *ngIf="agency.id"
            (click)="deleteAgency(agency.id, agency.title)"
            data-toggle="tooltip"
          >
            <fa-icon class="fa fa-delete" [icon]="faTrash"></fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
