nav {
  background-color: #e0fbfc;
}

fa-icon {
  color: #3d5a80;
}

button {
  background-color: transparent;
  border: 0;
  color: #3d5a80;
}

button:hover,
button:active,
button:focus {
  color: #3d5a80;
}
