<p></p>
<section class="py-5 bg-light">
  <div class="container">
    <div
      class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
    >
      <div class="col text-center">
        <button class="btn btn-primary m-3" routerLink="/home">
          <fa-icon class="fa-xl m-1" [icon]="faHouse"></fa-icon>
          Inicio
        </button>
        <button
          class="btn btn-primary m-3"
          routerLink="/procedures/{{ agency.id }}"
        >
          <fa-icon class="fa-xl m-1" [icon]="faCircleLeft"></fa-icon>
          Volver
        </button>
        <div class="card shadow-sm mt-5">
          <div class="card-body bg-card">
            <h4 class="card-title text-center">{{ agency.title }}</h4>
          </div>
        </div>
        <div class="card shadow-sm mt-3">
          <div class="card-body bg-card">
            <h4 class="card-title">{{ procedure.title }}</h4>
            <p class="card-subtitle text-muted mt-5">
              {{ procedure.description }}
            </p>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="procedure.isActive">
        <div class="card shadow-sm">
          <div class="card-body bg-card">
            <h4 class="card-title text-center">{{ procedure.title }}</h4>
            <h5 class="m-2 mt-2">Detalles</h5>
            <p class="card-text m-2">{{ procedure.details }}</p>
            <h5 class="m-2 mt-5">Teléfono</h5>
            <p class="card-text m-2">{{ procedure.phone }}</p>
            <h5 class="m-2 mt-5">Acceso al trámite</h5>
            <div class="text-center">
              <a
                *ngIf="procedure.url"
                class="btn btn-outline-primary text-center mt-2"
                href="{{ procedure.url }}"
                target="_blank"
              >
                <fa-icon class="fa-xl m-1" [icon]="faCirclePlus"></fa-icon>
                Pulse aquí
              </a>
              <h5 *ngIf="!procedure.url" class="mt-2">
                En este momento no existe esta información
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="!procedure.isActive">
        <div class="card shadow-sm p-3">
          <div class="card-body bg-card">
            <h5>Aviso</h5>
            <p class="text-muted">
              La información sobre {{ procedure.title }} no se encuentra
              disponible en este momento, disculpe las molestias
            </p>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>
<app-footer></app-footer>
