<section class="py-5 text-center">
  <div class="container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">
          <img
            src="../../assets/icons/header-logo.svg"
            width="25%"
            loading="lazy"
          />
          <br />
          Administración Digital Fácil
        </h1>
        <p class="lead text-muted">
          Todos tus trámites digitales en un mismo lugar
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div
      class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
    >
      <div class="col" *ngFor="let agency of agencies">
        <a routerLink="/procedures/{{ agency.id }}">
          <div class="card shadow-sm">
            <img
              src="{{ agency.img }}"
              alt="{{ agency.title }}"
              class="card-img-top"
              width="100%"
              height="225"
            />
            <div class="card-body bg-card">
              <h4 class="card-text text-center">{{ agency.title }}</h4>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
