footer {
  background-color: #e0fbfc;
  margin-top: 2%;
}

.copy {
  background-color: #ee6c4d;
  color: #e0fbfc;
}

h5 {
  color: #ee6c4d;
}

p {
  color: #3d5a80;
}

a {
  color: #3d5a80;
}
a:hover {
  color: #ee6c4d;
}

.btn {
  color: #3d5a80;
  border: 1px solid #3d5a80;
}

.btn:hover {
  background-color: #ee6c4d;
  color: #e0fbfc;
  border: 1px solid #3d5a80;
}
