h4,
p {
  color: #3d5a80;
}

th {
  color: #3d5a80;
  vertical-align: middle;
}

.btn-outline-primary {
  color: #3d5a80;
  border: 1px solid #3d5a80;
}

.btn-primary {
  color: #3d5a80;
  border: 1px solid #3d5a80;
  background-color: #e0fbfc;
}

.btn:hover {
  background-color: #ee6c4d;
  color: #e0fbfc;
  border: 1px solid #3d5a80;
}

.fa-update {
  color: #3d5a80;
}

.fa-delete {
  color: #ee6c4d;
}

a {
  vertical-align: middle;
}

.bg-true {
  background-color: #ee6c4d;
}

.bg-false {
  background-color: #98c1d9;
}
